html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;} body {line-height: 1;}ol, ul{list-style:none;} blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}
 
*{
	/*font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'sans-serif';*/
	font-family: 'Garamond', 'Palatino Linotype', 'Georgia', 'Liberation Serif', 'serif';
	font-size: 16px;
}
html{
	height:100%;
		/*font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'sans-serif';*/
	font-family: 'Garamond', 'Palatino Linotype', 'Georgia', 'Liberation Serif', 'serif';
	font-size: 16px;
	background: #FFFFFF;
	color: black;
}
body{
	height:100%;
	margin: 4%;
		/*font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'sans-serif';*/
	font-family: 'Garamond', 'Palatino Linotype', 'Georgia', 'Liberation Serif', 'serif';
	font-size: 16px;
}
textarea, input, button, code{
	font-family: 'Lucida Console', Monaco, monospace;
	font-size: 14px;
}

div, p, h1, h2, h3, h4{
	display: block;
	margin-top: 16px;
	margin-bottom: 16px;
}
h1, h2, h3{
	color: #251E29;
}
h1{
	font-size: 26px;
	font-weight: bold;
	margin-top: 22px;
	/*color: #227d5b;*/
}
h2{
	font-size: 22px;
	font-weight: bold;
	/*color: #227d5b;*/
}
h3{
	font-size: 18px;
	font-weight: bold;
	/*color: #227d5b;*/

}
pre, h4{
	font-family: 'Lucida Console', Monaco, monospace;
	font-size: 14px;
}
ul{
	margin-bottom: 24px;
}
li, li a{
	text-decoration: none;
	color: #251E29;
}
ul li ul{
	padding-left: 16px;
	margin-bottom: 0px;
}
li a{
	/*color: #227d5b;*/
}
li a:hover{
	/*color: #695c8d;*/
}
ul li ul li a{
	/*color: #acacac;*/
	color: #736671;
	font-weight: normal;
}

a{
	font-weight: bold;
	/*color: #acacac;*/
	/*color: #695c8d;*/
	color: #B8B8B8;
	text-decoration: none;
}
a:hover{
	/*color: #695c8d;*/
	/*color: #acacac;*/
	color: #524D59;
}

::selection {
	color: #ffffff;
	background: #524D59;
}
::-moz-selection {
	color: #ffffff;
	background: #524D59; 
}

p.main.backlink{
	position: fixed;
	top: 8px;
	right: 0px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	padding: 0px;
	padding-left: 20%;
	padding-bottom: 20%;
	margin: 4px;
	border: none;
	color: transparent;
	background: transparent;
}
p.main.backlink a{
	display: none;
	padding: 4px;
	margin-right: 4px;
	/*color: transparent;*/
	color: white;
	font-weight: bold;
	background: #251E29;
	cursor: default;
}
p.main.backlink:hover a{
	display: block;
	/*color: white; */ /*background: #232323;*/
	border: 1px dashed white;
	border-radius: 3px;
	moz-border-radius: 3px;
	webkit-border-radius: 3px;
	cursor: pointer;
}
