
/**
 * COLORS:
 * dark background: #232323
 * grey foreground: #4f4f4f
 * light grey foreground: #acacac
 * white foreground: #ffffff
 * blue: #599aa8     pastel: 
 * green: #227d5b    pastel: 
 * yellow: #dca470   pastel: 
 * red: #e56f69      pastel: 
 * purple: #695c8d   pastel: 
 * */

*, html, body{
	/* color setting for everything that is not part of the 
	 * application, i.e. for ads and "powered by blubb blubb hosting" ;)
	 * */
	 color: #4f4f4f;
	 background: #232323;
}
*.main{
	/*
	 * default color for everything part of the application
	 * */
	color: #ffffff;
	background: #232323;
}
strong.main{
	font-weight: bold !important;
}
em.main{
	
}

div.main{
	display: none;
	width: 100%;
	height: 100%;
	font-size: 14px;
	font-weight: normal;
}
div.main *{
	font-size: 14px;
	font-weight: normal;
}

h1.main{
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	margin: auto;
	margin-bottom: 24px;
}
h2.main{
	font-size: 16px;
	font-weight: bold;
	margin: auto;
	margin-bottom: 16px;
}
p.main.hash{
	margin-top: 12px;
	margin-bottom: 16px;
}
input.main.hash{
	color: white;
	width: 120px;
	border: 1px dashed white;
	border-radius: 5px;
	moz-border-radius: 5px;
	webkit-border-radius: 5px;
	padding: 2px;
	margin-top: 4px;
	margin-right: 16px;
}
button.main.hash{
	font-weight: bold;
	display: inline-block;
	margin-top: 12px;
	margin-bottom: 16px;
	margin-right: 16px;
	padding: 2px;
	border: 1px dashed white;
	border-radius: 5px;
	moz-border-radius: 5px;
	webkit-border-radius: 5px;
	cursor: pointer;
}
textarea.main.hash{
	margin-bottom: 16px;
	border: 1px dashed white;
	color: white; 
	width: 98%;
	height: 15%; min-height: 100px;
	border-radius: 5px;
	moz-border-radius: 5px;
	webkit-border-radius: 5px;
}
input.main.hash.encrypt, input.main.hash.decrypt, input.main.hash.sign, input.main.hash.verify, input.main.hash.encryptsign, input.main.hash.decryptverify{
	margin-bottom: 16px;
	display: inline-block;
}

/*
 * OVERLAY
 * */
div.main.hash.overlay p.main.hash.overlay{
	text-align: center;
	font-size: 36px;
	font-weight: bold;
	color: #695c8d;
	margin-top: 10%;
}

/**
 * INIT
 * */
div.main.init{
	text-align: center;
}
p.main.hash.init#entropy{
	display: block;
	padding: 24px;
	margin-bottom: 16px;
	font-size: 18px;
	font-weight: bold;
	border: 1px solid #232323;
	color: #695c8d;
}
p.main.hash.init#entropy_info{
	display: block;
	font-size: 16px;
	font-weight: bold;
	color: #695c8d;
	text-align: center;
}
p.main.hash.app{
	display:block;
	min-height: 16px;
}
p.main.hash.app.outer{
	display: inline-block;
}
select.main.hash.app, label.main.hash.app{
	display: inline-block;
}
select.main.hash.app{
	margin-right: 12px;
}
label.main.hash.app{
	width: 85px;
}

textarea.main.hash{
	margin-bottom: 16px;
	border: 1px dashed #e56f69;
	color: white; 
	width: 98%;
	height: 15%; min-height: 100px;
	border-radius: 5px;
	moz-border-radius: 5px;
	webkit-border-radius: 5px;
}

button.main.hash{
	font-weight: bold;
	display: inline-block;
	margin-top: 12px;
	margin-bottom: 16px;
	margin-right: 16px;
	padding: 2px;
	border: 1px dashed white;
	border-radius: 5px;
	moz-border-radius: 5px;
	webkit-border-radius: 5px;
	background: #e56f69;
	cursor: pointer;
}

select.main.hash, option.main.hash{
	background: #e56f69;
}
